<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Salient Resort	</title>
	<atom:link href="https://themenectar.com/salient/resort/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://themenectar.com/salient/resort</link>
	<description>Just another salient demos site</description>
	<lastBuildDate>Fri, 26 May 2023 18:02:38 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
</channel>
</rss>

<!-- plugin=object-cache-pro client=phpredis metric#hits=1523 metric#misses=17 metric#hit-ratio=98.9 metric#bytes=653159 metric#prefetches=27 metric#store-reads=32 metric#store-writes=2 metric#store-hits=43 metric#store-misses=14 metric#sql-queries=19 metric#ms-total=186.43 metric#ms-cache=5.29 metric#ms-cache-avg=0.1604 metric#ms-cache-ratio=2.8 -->
